link(rel='stylesheet', href='../stylesheets/home.css')
link(rel='stylesheet', href='../stylesheets/show.css')
link(rel='stylesheet', href='../stylesheets/info.css')
link(rel='stylesheet', href='../stylesheets/add-review.css')

div.header
  h1.title Add A Review
div.restaurants-container
  form(type="action='/addReview/'+restaurant_id" method='POST').review-form
    label(for="name").formBreaker Name
    input(type="text" placeholder="Name" name="name" required).formBreaker
    label(for="stars") Rating
    input(type="radio" name="stars" value="1" required)
    input(type="radio" name="stars" value="2" required)
    input(type="radio" name="stars" value="3" required)
    input(type="radio" name="stars" value="4" required)
    input(type="radio" name="stars" value="5" required)
    div.formBreaker
    label(for="review").formBreaker Review
    input(type="textarea" name="review" required).formBreaker.add-form
    input(type="submit" value="Submit").leftButton
